# Normalize line endings
* text=auto

# Ensure common text file types use LF in the repo
*.php text eol=lf
*.js  text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.html text eol=lf
*.vue text eol=lf
*.py text eol=lf
*.sh text eol=lf
* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
